// Colors
$red: #df0606
$one-color: #87f6bf
// Main styles
*
  box-sizing: border-box
.clearfix:after
  display: block
  visibility: hidden
  clear: both
  height: 0
  content: '.'
.clearfix
  zoom: 1
.left
  float: left
.right
  float: right
.text-right
  text-align: right
.text-left
  text-align: left
.text-center
  text-align: center
.wrapper
  width: 860px
  margin: 0 auto
p
  margin: 0
  margin-bottom: 10px
h1
  font-weight: normal
  font-size: 20px !important
a
  text-decoration: none
body
  font-family: 'Arial', 'Tahoma', 'Verdana', sans-serif
// Mixins
=linear-gradient($direction, $color-stops...)
  background: $direction
  background: linear-gradient(to bottom, $direction 0%,$color-stops 100%)
// UI Elements
.btn
  transition: all .2s ease
  cursor: pointer
  height: 30px
  border: none
  line-height: 30px
  display: block
  outline: none
  text-transform: uppercase
  &.primary
    color: #119e64
    font-size: 15px
    border: 1px solid #e1e1e1
    padding: 0 15px
    +linear-gradient(#fff, #cefce3)
    &:hover
      +linear-gradient(#cefce3, #cefce3)
  &.orange
    color: $red
    font-weight: bold
    padding: 0 35px
    height: 44px
    line-height: 48px
    display: inline-block
    border-radius: 6px
    text-shadow: 0px 0px 1px #000
    +linear-gradient(#fcff04, #c3a02c)
    &:hover
      +linear-gradient(#dde004, #dde004)
.form, .modal-content
  margin: 15px 0
  .form-el
    margin-bottom: 15px
    label
      display: block
      margin-bottom: 10px
    input
      border: 1px solid #959595
      color: #555555
      display: inline-block
      width: 100%
      padding: 15px 75px
      outline: none
      font-size: 18px
      &:focus
        border: 1px solid #000
  .form-btn
    margin-top: 25px
    .btn
      display: block
      width: 100%
      font-size: 22px
      margin: 0 auto
.modal
  .modal-title
    background-color: #ebab27
    color: white
    padding: 15px 20px
    padding-right: 50px
    font-size: 18px
    border-radius: 4px 4px 0 0
  .modal-desc
    border-bottom: 1px solid #dedede
    padding: 15px 20px
    background: #efefef
  .modal-btns
    padding: 15px 20px
    border-top: 1px solid #c0c0c0
    background-color: #f1f1f1
    border-radius: 0px 0px 4px 4px
  .modal-content
    padding: 0 20px
    input
      padding: 8px 12px
      font-size: 16px
.red
  color: $red
.hidden
  display: none
// Blocks
#header
  height: 100px
  .right
    padding-top: 15px
.company-info
  .left
    line-height: 85px
    padding-left: 80px
    background: url("../img/logo.jpg") left center no-repeat
#section-1
  margin-top: 10px
  background: url("../img/bg-section-1.jpg") center center no-repeat
  height: 545px
  color: white
  font-size: 20px
  padding: 65px 0 35px 0
  h2
    font-weight: bold
    text-transform: uppercase
    font-size: 72px
    margin: 0
  .subtitle
    text-transform: uppercase
    font-size: 32px
    margin-bottom: 40px
  .subtitle-2
    margin: 35px 0
    font-size: 24px
#section-2
  padding: 50px 0
  .title
    font-size: 28px
    font-weight: bold
    text-transform: uppercase
    position: relative
    left: -25px
    line-height: 36px
    margin: 0
    span
      display: block
      text-align: right
      left: -170px
      position: relative
  .body
    background: url("../img/bg-section-2.jpg") left 0px no-repeat
    .right
      padding-right: 30px
      .content
        padding-left: 160px
        ul
          list-style-type: none
          padding: 0
          margin: 45px 0
          li
            font-size: 18px
            display: block
            margin-bottom: 8px
            line-height: 26px
            span
              position: relative
              left: 10px
    p
      text-transform: uppercase
      font-size: 22px
      line-height: 34px
      font-weight: bold
    .red
      color: $red
      display: block
      position: relative
      right: -70px
      margin: 0
#section-3
  background: #cafae2
  padding: 30px 0 20px 0
  .left
    width: 44%
    ul
      margin: 0
      padding-left: 25px
      li
        font-size: 24px
        margin-bottom: 5px
        span
          text-transform: uppercase
    .title
      text-transform: uppercase
      font-weight: bold
      font-size: 48px
      margin-bottom: 20px
  .right
    width: 43%
    background-color: #000000
    color: white
    text-transform: uppercase
    padding: 35px 30px
    font-size: 24px
    position: relative
    bottom: -45px
    margin-right: 8%
#section-4
  .title
    text-align: center
    color: $red
    font-size: 28px
    font-weight: bold
    margin-bottom: 0px
    position: relative
    top: 65px
  img
    display: block
    margin: 0 auto
    position: relative
    bottom: -114px
    z-index: 200
  .content
    padding: 45px 75px 100px 75px
    text-align: center
    position: relative
    z-index: 100
    bottom: -75px
    background: url("../img/bg-section-4-1.jpg") 0px 0px no-repeat
    ul
      margin: 0
      padding: 0
      text-align: left
      padding-left: 85px
      margin-bottom: 45px
    li
      font-size: 26px
      margin-bottom: 10px
    p
      font-size: 26px
      span
        color: $red
#section-5
  position: relative
  background: url("../img/bg-section-5.jpg") center 0px no-repeat
  .wrapper
    padding: 100px 0 45px 0
    .title
      text-transform: uppercase
      color: $one-color
      font-size: 44px
      font-weight: bold
      text-align: center
      margin-bottom: 25px
    ul
      list-style-type: decimal
      padding-left: 130px
      margin-bottom: 45px
      li
        color: white
        font-size: 22px
        margin-bottom: 8px
    a
      font-size: 22px
#section-6
  background: $one-color
  padding: 45px 0 35px 0
  .wrapper
    padding: 25px 45px
    border: 10px solid white
    .title, .subtitle
      font-size: 25px
      text-align: center
      text-shadow: 0px 0px 4px white
    .subtitle
      margin-bottom: 35px
    .title
      font-size: 38px
      font-weight: bold
      text-transform: uppercase
    .block
      padding-left: 145px
      margin-bottom: 25px
      &:last-child
        margin-bottom: 0
      .block-title
        text-transform: uppercase
        font-weight: bold
        font-size: 22px
        margin-bottom: 5px
      ul
        margin: 0
        padding-left: 25px
        li
          font-size: 18px
          margin-bottom: 4px
#section-7
  padding: 55px 0 50px 0
  .title
    font-size: 32px
    font-weight: bold
    text-align: center
    margin-bottom: 35px
    text-transform: uppercase
  .left
    padding-top: 30px
  .right
    padding-right: 85px
    p
      text-transform: uppercase
      font-size: 24px
      font-weight: bold
      margin-bottom: 20px
    ul
      margin: 0
      padding-left: 0px
      li
        font-size: 20px
        margin-bottom: 8px
#section-8
  padding: 35px 125px 25px 125px
  background: #fff
  border: 10px solid $one-color
  .title, .subtitle
    text-align: center
  .title
    font-size: 32px
    font-weight: bold
    margin-bottom: 20px
    .red
      color: $red
      text-transform: uppercase
    .old-price
      text-decoration: line-through
      color: #787978
      font-size: 26px
      font-weight: normal
  .subtitle
    font-size: 28px
    margin-bottom: 45px
#section-9
  padding: 55px 25px
  border-bottom: 10px solid $one-color
  .title
    font-size: 32px
    text-transform: uppercase
    font-weight: bold
    text-align: center
    margin-bottom: 50px
  .review
    margin-bottom: 65px
    .left
      width: 150px
      margin-right: 50px
    .right
      width: 600px
      line-height: 20px
      .name
        font-size: 20px
        line-height: 24px
    &:last-child
      margin-bottom: 0
#section-10
  .right
    padding-top: 40px
#section-11
  margin-top: 15px
  .title
    text-align: center
    font-weight: bold
    text-transform: uppercase
    font-size: 24px
    line-height: 36px
    .red
      color: $red
  ul
    list-style-type: none
    margin: 25px 0
    padding: 0
    li
      margin-bottom: 5px