doctype html
html(lang="en")
    head
        title= "Landing QRGR"
        meta(charset="utf-8")
        link(href="/assets/css/combined.css", rel="stylesheet", type="text/css")
        script(src="/assets/js/combined.js")
    body
        #header.clearfix.wrapper
            .left
                h1 Quality Recruiting Group
            .right.text-right
                p Есть вопросы? Звоните!<br>+7 (495) 410-72-00
                a(href="#").btn.primary Заказать звонок
        #section-1
            .wrapper
                p 12 и 13 сентября 2015 г.
                h2 ТРЕНИНГ-ИНТЕНСИВ
                p.subtitle Все секреты<br>EXECUTIVE SEARCH & HEADHUNTING
                p 4-х модульный курс<br>о новейших стратегиях и методах подбора персонала
                p.subtitle-2 А ТЫ ХОЧЕШЬ БЫТЬ ПРОФИ В ОХОТЕ НА ЛУЧШИЕ КАДРЫ?
                a(href="#").btn.orange ЗАПИСАТЬСЯ НА ТРЕНИНГ
        #section-2.wrapper
            p.title Старые методы и инструменты подбора персонала<br><span>уже не работают!</span>
            .body.clearfix
                .right
                    .content
                        ul
                            li - Правила и рынок труда изменились!
                            li - Битва за таланты и кадры стала жестче,<br><span>а конкуренты хитрее!</span>
                            li - Наступает время агрессивного рекрутинга!
                        p Чтобы быть лучшим,<br>нужно быть в числе первых!
                    p.red А ТЫ Хочешь быть в числе победителей?
        #section-3
            .wrapper.clearfix
                .left
                    p.title Для кого:
                    ul
                        li <span>Рекрутеров</span><br>(-фрилансеров)
                        li <span>Менеджеров</span><br>по персоналу
                        li <span>Руководителей</span><br>HR-отделов
                .right
                    span ДЛЯ ВСЕХ,<br>кто занимается<br>подбором персонала <br>и<br>хочет быть <br>в этой области <br>профессионалом!
        #section-4.wrapper
            p.title КАК ПОЯВИЛСЯ НАШ УНИКАЛЬНЫЙ ТРЕНИНГ-ИНТЕНСИВ?
            img(src="assets/img/bg-section-4.jpg")
            .content
                ul
                    li Мы долго и тщательно собирали самые<br>эффективные техники поиска персонала
                    li Учились у западных и российских компаний
                    li Проверили на своем практическом опыте и<br>мастерски все отточили
                    li Собрали и упаковали в тренинг-интенсив,<br>чтобы передать Вам ВСЕ наши секреты!
                p Сейчас у Вас есть возможность<br><span>записаться и пройти наш<br>тренинг-интенсив</span>
        #section-5
            .wrapper
                p.title Что Вы получите в результате:
                ul
                    li Повысите свою компетенцию на качественно новый уровень
                    li Получите структурированные стратегии поиска<br>с этапами и задачами
                    li Узнаете о современных приемах поиска талантов и лучших<br>специалистов
                    li Изучите бизнес и основные бизнес-процессы для выявления<br>задач клиента
                    li Научитесь составлять «продажные» предложения о работе<br>для кандидатов, от которых они не смогут отказаться
                    li Получите инструкцию, как успешно презентовать кандидата<br>клиенту
                    li Вооружитесь секретными знаниями Executive Search&Headhunting
                    li Узнаете, как практически на собеседовании распознать<br>профессионала и дилетанта
                    li Сможете больше зарабатывать на проектах по подбору
                    li Станете победителем в охоте на лучших специалистов, а также<br>примером зависти и подражания своих коллег
                .text-center
                    a(href="#").btn.orange ЗАПИСАТЬСЯ НА ТРЕНИНГ
        #section-6
            .wrapper
                p.title Программа тренинг-интенсива
                p.subtitle 1 теоретический блок + 4 практических модуля (по этапам)
                .block
                    p.block-title Теоретический блок
                    ul
                        li Технология Executive Search & Headhunting
                        li Типологии методов и этапов подбора
                        li Отличие Recruiting от Executive Search
                        li Основные понятия и термины
                .block
                    p.block-title 1 модуль (этап) – Снятие заявки
                    ul
                        li Изучение клиента и задач поиска
                        li Бизнес клиента и компании-конкуренты
                        li Структура профиля на кандидата
                        li Правила эффективных взаимодействий с клиентом
                .block
                    p.block-title 2 модуль (этап) – Выбор стратегии поиска
                    ul
                        li Составление «таргет»-карты поиска
                        li Изучение рынка и компаний-доноров
                        li Формирование Long List
                        li Типы легенд, как инструмента поиска
                .block
                    p.block-title 3 модуль (этап) – Отбор кандидатов
                    ul
                        li Собеседования по компетенциям: методы оценки
                        li Изучение мотивации кандидата
                        li Продажа вакансии кандидату
                        li Short List, сбор рекомендаций
                .block
                    p.block-title 4 модуль (этап) – Выход кандидата на работу
                    ul
                        li Продажа кандидата клиенту
                        li Формирование Job-offer
                        li Организация эффективной интеграции
                        li Результаты и последующие выводы

