doctype html
html(lang="en")
    head
        title= "ВСЕ СЕКРЕТЫ EXECUTIVE SEARCH & HEADHUNTING | ТРЕНИНГ-ИНТЕНСИВ"
        meta(charset="utf-8")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css", rel="stylesheet", type="text/css")
        link(href="/assets/css/combined.css", rel="stylesheet", type="text/css")
        script(src="https://code.jquery.com/jquery-1.11.3.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js")
        script(src="/assets/js/form-validator.js")
        script(src="/assets/js/jquery.maskedinput.min.js")
        script(src="/assets/js/main.js")
    body
        #header.clearfix.wrapper.company-info
            .left
                h1 Quality Recruiting Group
            .right.text-right
                p Есть вопросы? Звоните!<br>+7 (495) 410-72-00
                a(href="#call-back").btn.primary.modal-btn Заказать звонок
        #section-1
            .wrapper
                p 12 и 13 сентября 2015 г.
                h2 ТРЕНИНГ-ИНТЕНСИВ
                p.subtitle Все секреты<br>EXECUTIVE SEARCH & HEADHUNTING
                p 4-х модульный курс<br>о новейших стратегиях и методах подбора персонала
                p.subtitle-2 А ТЫ ХОЧЕШЬ БЫТЬ ПРОФИ В ОХОТЕ НА ЛУЧШИЕ КАДРЫ?
                a(href="#").btn.orange.scroll-to-form ЗАПИСАТЬСЯ НА ТРЕНИНГ
        #section-2.wrapper
            p.title Старые методы и инструменты подбора персонала<br><span>уже не работают!</span>
            .body.clearfix
                .right
                    .content
                        ul
                            li - Правила и рынок труда изменились!
                            li - Битва за таланты и кадры стала жестче,<br><span>а конкуренты хитрее!</span>
                            li - Наступает время агрессивного рекрутинга!
                        p Чтобы быть лучшим,<br>нужно быть в числе первых!
                    p.red А ТЫ Хочешь быть в числе победителей?
        #section-3
            .wrapper.clearfix
                .left
                    p.title Для кого:
                    ul
                        li <span>Рекрутеров</span><br>(-фрилансеров)
                        li <span>Менеджеров</span><br>по персоналу
                        li <span>Руководителей</span><br>HR-отделов
                .right
                    span ДЛЯ ВСЕХ,<br>кто занимается<br>подбором персонала <br>и<br>хочет быть <br>в этой области <br>профессионалом!
        #section-4.wrapper
            p.title КАК ПОЯВИЛСЯ НАШ УНИКАЛЬНЫЙ ТРЕНИНГ-ИНТЕНСИВ?
            img(src="assets/img/bg-section-4.jpg")
            .content
                ul
                    li Мы долго и тщательно собирали самые<br>эффективные техники поиска персонала
                    li Учились у западных и российских компаний
                    li Проверили на своем практическом опыте и<br>мастерски все отточили
                    li Собрали и упаковали в тренинг-интенсив,<br>чтобы передать Вам ВСЕ наши секреты!
                p Сейчас у Вас есть возможность<br><span>записаться и пройти наш<br>тренинг-интенсив</span>
        #section-5
            .wrapper
                p.title Что Вы получите в результате:
                ul
                    li Повысите свою компетенцию на качественно новый уровень
                    li Получите структурированные стратегии поиска<br>с этапами и задачами
                    li Узнаете о современных приемах поиска талантов и лучших<br>специалистов
                    li Изучите бизнес и основные бизнес-процессы для выявления<br>задач клиента
                    li Научитесь составлять «продажные» предложения о работе<br>для кандидатов, от которых они не смогут отказаться
                    li Получите инструкцию, как успешно презентовать кандидата<br>клиенту
                    li Вооружитесь секретными знаниями Executive Search&Headhunting
                    li Узнаете, как практически на собеседовании распознать<br>профессионала и дилетанта
                    li Сможете больше зарабатывать на проектах по подбору
                    li Станете победителем в охоте на лучших специалистов, а также<br>примером зависти и подражания своих коллег
                .text-center
                    a(href="#").btn.orange.scroll-to-form ЗАПИСАТЬСЯ НА ТРЕНИНГ
        #section-6
            .wrapper
                p.title Программа тренинг-интенсива
                p.subtitle 1 теоретический блок + 4 практических модуля (по этапам)
                .block
                    p.block-title Теоретический блок
                    ul
                        li Технология Executive Search & Headhunting
                        li Типологии методов и этапов подбора
                        li Отличие Recruiting от Executive Search
                        li Основные понятия и термины
                .block
                    p.block-title 1 модуль (этап) – Снятие заявки
                    ul
                        li Изучение клиента и задач поиска
                        li Бизнес клиента и компании-конкуренты
                        li Структура профиля на кандидата
                        li Правила эффективных взаимодействий с клиентом
                .block
                    p.block-title 2 модуль (этап) – Выбор стратегии поиска
                    ul
                        li Составление «таргет»-карты поиска
                        li Изучение рынка и компаний-доноров
                        li Формирование Long List
                        li Типы легенд, как инструмента поиска
                .block
                    p.block-title 3 модуль (этап) – Отбор кандидатов
                    ul
                        li Собеседования по компетенциям: методы оценки
                        li Изучение мотивации кандидата
                        li Продажа вакансии кандидату
                        li Short List, сбор рекомендаций
                .block
                    p.block-title 4 модуль (этап) – Выход кандидата на работу
                    ul
                        li Продажа кандидата клиенту
                        li Формирование Job-offer
                        li Организация эффективной интеграции
                        li Результаты и последующие выводы
        #section-7.wrapper
            p.title Кто ведет тренинг-интенсив?
            .clearfix
                .left
                    img(src="assets/img/photo.jpg")
                .right
                    p Анастасия Желудкова
                    ul
                        li Хедхантер и Консультант по поиску<br>топ-менеджеров, экспертов и талантов
                        li Действующий бизнес-тренер в сфере<br>подбора и оценки персонала, хедхантинга<br>и личной эффективности
                        li Практикующий Консультант по развитию<br>карьеры и трудоустройству
                        li Основатель и Директор по развитию<br>бизнеса Кадрового Агентства<br>«Quality Recruiting Group»
        #section-8.wrapper
            p.title <span class="red">Стоимость участия</span><br><span class="old-price">18 000 руб.</span><br>10 000 руб.
            p.subtitle Количество участников ограничено
            .content
                .success-block
                    span Форма успешно отправлена!<br>Спасибо за заявку.
                form(action="" method="post").form.rf
                    .form-el
                        label Введите Ваше Имя
                        input(type="text" name="name" placeholder="Иванова Мария").rfield
                    .form-el
                        label Введите Ваш Email
                        input(type="text" name="email" placeholder="ivanova@mail.ru").rfield
                    .form-el
                        label Введите Ваш Телефон
                        input(type="text" name="phone" placeholder="+7(123) 456-78-90").rfield.phone-input
                    .form-btn
                        input(type="hidden" name="action" value="order")
                        button.btn.orange.btn_submit.disabled ЗАПИСАТЬСЯ НА ТРЕНИНГ
                    .form-info
                        span
                        | Данные храняться конфиденциально, не передаются третьим лицам
                        | и не используются для рассылок. Заполнение заявки не несет никаких
                        | обязательств. Вы можете отказаться в любой момент.
        #section-9.wrapper
            p.title отзывы участников о тренинг-ИНТЕНСИВЕ
            .review.clearfix
                .left
                    img(src="assets/img/review-1.jpg")
                .right
                    p.name Надежда Баулина,<br>Руководитель HR-проектов «AGF-Group», г. Москва
                    p
                    | Благодарна Анастасии за полезный тренинг. Ожидания оправдались полностью,
                    | я получила новые знания и техники по поиску и оценке кандидатов топ-уровня
                    | и редких кадров. Я не первый год занимаюсь подбором, но работала во
                    | внутреннем рекрутинге в компаниях, а Анастасия, как специалист с многолетним
                    | опытом в хедхантинговом агентстве, раскрыла мне новые аспекты в работе.
                    | Особенно ценными для меня были практические задания по снятию заявки и
                    | формированию карты поиска, а также кейсы по оценке и мотивации кандидатов.
                    | Рекомендую как начинающим, так и опытным специалистам.
            .review.clearfix
                .left
                    img(src="assets/img/review-2.jpg")
                .right
                    p.name Юлия Лосева, Hr-менеджер "Флорист.ру", г. Москва
                    p
                    | Выражаю благодарность Анастасии за проведенный тренинг. У меня небольшой
                    | опыт в подборе персонала, поэтому хотела получить новые теоретические
                    | систематизированные знания и практические приемы для закрытия вакансий.
                    | Понравился подход тренинга с возможностью применить и попробовать методы
                    | сразу в работе. Была очень комфортная и позитивная обстановка.
                    | Большое спасибо.
        #section-10.wrapper.clearfix.company-info
            .left
                h1 Quality Recruiting Group
            .right.text-right
                a(href="#call-back").btn.primary.modal-btn Заказать звонок
        #section-11.wrapper
            p.title Позвоните и запишитесь на Тренинг-интенсив уже сейчас<br><span class="red">+7 (495) 410-72-00</span>
            ul
                li Офис: г. Москва, ул. Петровка д. 20/1
                li Звоните: +7(495) 410-72​-00
                li Пишите: info@qrgr.ru
            p.copyright © 2013 - 2015  «Тренинг-интенсив: Все секреты Executive Search & Headhunting»
            a(href="#info-modal").modal-btn-large.orange Политика конфеденциальности
        .hidden
            #call-back.modal
                .modal-title
                    span Заказать обратный звонок
                .modal-desc
                    | У Вас есть вопросы?<br>
                    | Закажите обратный звонок прямо сейчас! Введите Ваши данные, мы перезвоним и ответим подробно на все Ваши вопросы!
                .success-block
                    span Форма успешно отправлена!<br>Спасибо за заявку.
                form(action="" method="post").rf
                    .modal-content
                        .form-el
                            label Введите Ваше Имя
                            input(type="text" name="name" placeholder="Иванова Мария")
                        .form-el
                            label Введите Ваш Телефон <span class="red">*</span>
                            input(type="text" name="phone" placeholder="+7(123) 456-78-90").rfield.phone-input
                    .modal-info
                        span
                        | Данные храняться конфиденциально, не передаются третьим лицам
                        | и не используются для рассылок. Заполнение заявки не несет никаких
                        | обязательств. Вы можете отказаться в любой момент.
                    .modal-btns
                        input(type="hidden" name="action" value="callback")
                        button.btn.primary.btn_submit.disabled Отправить
            #info-modal.modal
                .modal-title
                    span Политика конфеденциальности
                form(action="" method="post").rf
                    .modal-content
                        p Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.
                        p
                            | Все лица заполнившие сведения, составляющие персональные данные на данном сайте,
                            | а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на
                            | обработку персональных данных и их передачу оператору обработки персональных данных.
                        p Под персональными данными Гражданина понимается нижеуказанная информация:
                        p общая информация (Имя, телефон); посетители сайта направляют свои персональные данные для получения услуг расчёта стоимости заказа.
                        p Гражданин, принимая настоящее Соглашение, выражают свою заинтересованность и полное согласие, что обработка их персональных данных может включать в себя следующие действия: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, уничтожение.
                        p Гражданин гарантирует: информация, им предоставленная, является полной, точной и достоверной; при предоставлении информации не нарушается действующее законодательство Российской Федерации, законные права и интересы третьих лиц; вся предоставленная информация заполнена Гражданина в отношении себя лично.



